<style>
body
{
    background-image:linear-gradient(#D16BA5,#86A8E7,#5FFBF1);
}
h1
{
    font-family:forte;
    font-size:48px;
    color:rgba(13, 238, 227, 0.863);
}
label
{
    font-family:latha;
    color:wheat;
}
</style>